*, *::after, *:before {
	box-sizing: border-box;
}

/* BODY, CONTAINERS, ELEMENTS */
body {
	font-family: 'Source Sans Pro', sans-serif;
	font-size: 1em;
	line-height: 1.75;
}

button {
	background: transparent;
	border: none;
	display: inline;
	color: white;
}

button img {
	vertical-align: middle;
	width: 0.9em;
}

button:focus,
input:focus {
	outline: 0;
}

input[type="range"] {
    -webkit-appearance: none;
    -moz-appearance: none;
    border-radius: 0px;
    height: 3px;
    border: 1px solid #bdc3c7;
}

.container {
	max-width: 1024px;
	margin: 0 auto;
	padding: 0 10px 1em 10px;
}


#video-container {
	position: relative;
	overflow: hidden;
}


 /* VIDEOS AND CONTROLS */
video {
	width: 100%;
}

#video-controls {
	display: none;
	transition: all 0.3s ease-in;
	position: absolute;
	background: rgba(0, 0, 0, 0.3);
	color: #fff;
	width: 100%;
	font-size: 1em;
	height: 33px;
}

#video-container:hover #video-controls {
	opacity: .9;
	transform: translateY(-42px);
}

#left-controls {
	float: left;
	vertical-align: middle;
}

#right-controls {
	float: right;
	vertical-align: middle;
}

#volume-bar {
	vertical-align: middle;
}

#play-pause {
	margin-left: 5px;
}


 /* PROGRESS AND BUFFER BARS */

progress[value] {
	cursor: pointer;

	/* Reset the default appearance */
	-webkit-appearance: none;
    -moz-appearance: none;
	height: 10px;

	/* Get rid of default border in Firefox. */
	border: none;

}

/* the container */
progress[value]::-webkit-progress-bar {
	border-radius: 0px;
	box-shadow: 0 2px 5px rgba(0, 0, 0, 0.15) inset;
	background-color: rgba(255, 255, 255, 0.15);
}

#progress-bar,
#buffer-bar {
	transition: all 0.3s ease-in;
	position: absolute;
	display:block;
	width:100%;
	bottom: 9px;
}

#progress-bar {
	z-index: 2;
}

#video-container:hover #progress-bar,
#video-container:hover #buffer-bar {
	transform: translateY(-33px);
}

/* the bar */
#progress-bar::-webkit-progress-value {
	background-color: orange;
}

#buffer-bar::-webkit-progress-value {
	background-color: rgba(255, 255, 255, 0.25);
}

 /* TRANSCRIPTS AREA */

 #transcript {
 	margin-top: 1em;
 }

#transcript span {
	cursor: pointer;
	transition: all 0.1s ease-in;
}

#transcript span:hover {
	color: green;
}

.highlight {
	color: white;
	background-color: darkorange;
}

